.btn{
    border: 10px solid black;
    width:200px;
    height:200px;
    border-radius: 10%;
    margin :1rem;
}
.btn-container{
    display:flex;
    justify-content:center;
}
body{
    text-align: center;
}
.yellow{
    background-color:rgb(221, 191, 23) ;
}.red{
    background-color: rgb(217, 74, 74);
}.green{
    background-color:rgb(71, 138, 147) ;
}.purple{
    background-color:rgb(106, 115, 196) ;
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}